[user]
	email = colleowino@gmail.com
	name = colleowino
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
	l = log --pretty='format:%C(yellow)%h %C(blue)%ad %C(reset)%s%C(red)%d %C(green)%an%C(reset), %C(cyan)%ar' --date=short
[merge]
	tool = vimdiff2
[color]
	ui = true
[core]
	excludesfile = /home/kleaf/.gitignore_global
