# Headings 
snippet h1
	# ${1}
snippet h2
	## ${1}
snippet h3
	### ${1}
snippet h4
	#### ${1}
snippet h5
	##### ${1}
snippet h6
	###### ${1}
		
# code highlight
snippet highlight
	{% highlight ${1} %}
		${2}	
	{% endhighlight %}

# code taggings 
snippet code
	<code> ${1} </code>

# image tag 
snippet img
	![${1}](${2} " ${3} ")
